*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
}

.contenido {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#juegoForm{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
label{
    padding-right: 20px;
}
#elecciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

#resultado{
    padding-top: 20px;
}